<br/><h2 style="color:#660033">About Us</h2>
<div class="curved" style="color:#307373;text-align:center;padding:5px;font-size:120%"">

 <pre>The Library Management System is designed, developed & maintained by Suman Ranjan Panda.</pre>
	</div>
