<br/><h2 style="color:#660033">Library Service Terms and Conditions</h2>
<div class="curved" style="text-align:justify;color:#307373">

(Revised October 2011) 

<h4>To borrow books from the library you need to pay:</h4>

	An initial refundable deposit of at least Rs. 500. A non-refundable registration fee of Rs. 500. A reading charge of 10% of the discount price of each book you borrow. Total amount to start the membership : Rs.1000. No monthly fee if you spent at least Rs. 100 on book premiums in the previous month.You may keep the books up to 14 days. You may borrow as many books as you wish at a time (if you have a sufficient deposit). Magazines are borrowed on a daily basis.

</div>
