</tr>
<tr>
	<td colspan="2" style="height:30px;"><center>
		<div style="color:#7D0552;align:center;">

		<%=link_to "About Us",{:controller=>"Blanks",:action=>"about"},{:style=>'text-decoration:none'}%>
			 &nbsp;&nbsp;&nbsp;&nbsp;

		<%=link_to "Term & Condition",{:controller=>"Blanks",:action=>"terms"},{:style=>'text-decoration:none'}%>
			&nbsp;&nbsp;&nbsp;&nbsp;

		<%=link_to "FAQ",{:controller=>"Blanks",:action=>"faq"},{:style=>'text-decoration:none'}%>
			&nbsp;&nbsp;&nbsp;&nbsp;

		<%=link_to "Contact Us",{:controller=>"Blanks",:action=>"contact"},{:style=>'text-decoration:none'}%>
		</div>
		<div style="font-size:70%;color:blue;font-style:italic;">Copyright © 2011 Suman Ranjan Panda. All rights reserved.</div></center>
	</td>
</tr>
</table>
